@media (min-device-width: 720px) {
	.row {
		display: flex;
	}

	.column {
		flex: 50%;
		padding-left: 25px;
		padding-right: 25px;
	}
}

.map {
  display: block;
  height: 640px;
  width: 1000px;
  border: 2px solid black;
  margin-top: 20px;
}